* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 300px;
  height: 900px;
  background-color: green;
  margin: auto;
}

.container .city {
  width: 100%;
  height: 33.33333%;
  background-color: red;
  border: 2px solid black;
}

.container .city #container-bologna {
  background-image: url(https://www.suiteweb.it/datastore/uploads/572/900_0/14939804549e095fde865a4e76abe02476f5787ecb.jpg);
  height: 100%;
}

.container .city img {
  background-size: cover;
}
